<header>
        <nav class="col-md-12">
                <ul>
                    <li class="active">
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="About.html">
                            About
                        </a>
                    </li>
                    <li >
                        <a href="Blog.html">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="sidebar">
                            Sidebar
                        </a>
                    </li>
                </ul>
        </nav>
</header>
