.widgets{
margin: 40px 0;
  img{
    width: 100%;
    height: auto;
  }
  .title{
    font-size:26px;
    color: #1a1a1a;
    margin: 20px 0 10px 0;
    font-family: $font300;
    font-weight: normal;
  }
  p{
    font-size: 15px;
    color: #1a1a1a;
    margin: 0;
  }

}