.widgets{
  &:hover img{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
  }
margin: 40px 0;
  img{
    width: 100%;
    height: auto;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .title{
    font-size:26px;
    color: #1a1a1a;
    margin: 20px 0 10px 0;
    font-family: $font300;
    font-weight: normal;
  }
  p{
    font-size: 15px;
    color: #1a1a1a;
    margin: 0;
  }

}